<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaZendesk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DropboxSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libZendeskDropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libZendeskDropboxOld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libZendeskiPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libZendeskiPhoneSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A94C8A130FD4D5E300D87B1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F155DA3315D53CBB0075DE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F155DA5415D5442C0075DE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F155DA6C15D546E00075DE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F155DA7115D54AF90075DE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18A657C15D55C5D00CE8AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
